*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 1;
    padding: 1;
}

#container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "aside" "footer"
}

#profile,
img {
    margin-left: auto;
    max-width: 15em;
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
    background: rgb(79, 70, 202);
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    text-align: left;
    background: deepskyblue;
}

aside {
    grid-area: aside;
    background: rgb(182, 181, 182);
}

footer {
    grid-area: footer;
    text-align: center;
    background: rgb(119, 117, 119);
}

header,
main,
aside,
footer {
    padding: 20px;
    margin: 5px;
}

@media screen and (min-width: 593px) {
    #container {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 30% 65%;
        grid-template-areas: "header header" "aside main" "footer footer"
    }
    #profile,
    img {
        display: block;
    }
}