*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/********************************/


/********************************/

.center {
    text-align: center;
}


/********************************/


/********************************/

body {
    width: fit-content;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    background: #F2EED0;
    background: -moz-linear-gradient(top, #F2EED0 0%, #8AB2E2 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #F2EED0 0%, #8AB2E2 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #F2EED0 0%, #8AB2E2 25%, #FFFFFF 100%);
}


/********************************/


/********************************/

nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    background: #F2EED0;
    border-bottom: thick double #000000;
    border-radius: 0px 0px 15px 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

h1 {
    margin: auto;
    text-align: center;
}

#github,
#linkedin {
    padding: 10px;
}

#github {
    padding-right: 25px;
}

#linkedin {
    padding-left: 25px;
}


/********************************/


/********************************/

#container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "enTete" "main" "aside";
    border-left: thick double #000000;
    -webkit-box-shadow: 2px 0px 6px 2px #000000;
    box-shadow: 2px 0px 6px 2px #000000, -8px 0 6px -4px #000000;
    -webkit-box-shadow: inset 0px 2px 19px 3px #000000;
    box-shadow: inset 0px 2px 9px 3px #000000;
}


/********************************/

header {
    border-bottom: #000000 solid;
    box-sizing: border-box;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "profile infos" "accroche accroche";
    background: #F2EED073;
    /* background-color: #edf06043;*/
}

#profile {
    grid-area: profile;
    padding: 25px;
}

#photo {
    height: 180px;
    display: block;
    border: thick double #000000;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -12px 14px 9px 0px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -12px 14px 9px 0px rgba(0, 0, 0, 0);
}

#accroche {
    grid-area: accroche;
    padding-right: 30px;
    padding-left: 20px !important;
}

#infos {
    grid-area: infos;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    line-height: 1.3;
    font-weight: lighter;
    justify-items: center;
    border: none;
}


/********************************/

header,
main,
aside {
    line-height: 2;
    border-right: thick double #000000;
    -webkit-box-shadow: 2px 0px 6px 2px #000000;
    box-shadow: 2px 0px 6px 2px #000000;
}

main {
    grid-area: main;
    background-color: #2471c943;
}

.ulAfpa {
    column-count: 2;
}

.ulMain {
    column-count: 2;
}

aside {
    grid-area: aside;
    padding-right: 15px;
    background-color: #c924242b;
}

.langages {
    margin: 30px;
}

h2,
.ongletAutre {
    display: block;
    background-color: #2471c980;
    margin-bottom: 15px;
    width: 70%;
    padding: 5px;
    border-top: #000000 solid;
    border-bottom: thick double #000000;
    border-left: #000000 solid;
    border-right: #000000 solid;
    border-radius: 0px 15px 15px 0px;
    -webkit-box-shadow: 2px 6px 6px 2px #000000;
    box-shadow: 2px 6px 6px 2px #000000;
    padding-left: 15px;
}

.ongletAutre {
    background-color: #c9242480;
    width: 70%;
}

.calque {
    background-color: #ffffff60;
}

h3 {
    padding: 5px;
    padding-left: 35px;
}

ul {
    padding: 5px;
    padding-left: 55px;
}

p,
h4 {
    padding: 5px;
    padding-left: 35px;
}

hr {
    margin: 10px;
}

footer {
    text-align: center;
    background: #F2EED0;
    /*background: rgb(36, 113, 201);
    background: linear-gradient(101deg, rgba(36, 113, 201, 1) 0%, rgba(201, 36, 36, 1) 100%, rgba(0, 212, 255, 1) 100%);*/
    padding: 15px;
    border-top: thick double #000000;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}


/********************************/


/***      Media query         ***/


/********************************/

@media screen and (min-width: 839px) {
    body {
        width: unset;
    }
    #container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "header header" "aside main"
    }
    h1 {
        padding-left: 3rem;
    }
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 30% 42% 28%;
        grid-template-areas: "profile accroche infos"
    }
    .ulAfpa {
        column-count: 2;
    }
    .ulMain {
        column-count: 3;
    }
    #profile,
    #accroche {
        padding-left: 0;
        display: flex;
    }
    #photo,
    #poste {
        margin: auto;
    }
    #infos {
        margin-right: 20px;
    }
}